{% block importBlock %}
    {{ import('css','carousel.css','ext.widgets.css') }}
{% endblock %}

<script type="text/javascript">
    $(document).ready(function() {
        carousel = {
            arrowLeft: null,
            arrowRight: null,
            imagesCont: null,
            index: 1,
            imgCount: 0,
            isScroll: false,

            init: function(imgCount) {
                this.imgCount = imgCount;

                this.arrowLeft = $('#js-carousel-arrow-left');
                this.arrowRight = $('#js-carousel-arrow-right');
                this.imagesCont = $('#js-carousel-image-cont');

                this.arrowLeft.click(this.onLeftClick);
                this.arrowRight.click(this.onRightClick);
            },

            onRightClick: function(ev) {
                if (carousel.isScroll)
                    return false;
                carousel.isScroll = true;

                carousel.index++;
                if (carousel.index > carousel.imgCount)
                    carousel.index = 1;

                var pos = carousel.imagesCont.find('.image[data-index='+carousel.index+']').position().left;
                carousel.imagesCont.animate(
                    {'left':-parseInt(pos) }, 500, 'swing', function() {
                        carousel.imagesCont.append(carousel.imagesCont.find('.image:first'));
                        carousel.imagesCont.css({'left':0});
                        carousel.isScroll = false;
                    }
                );
                return false;
            },

            onLeftClick: function(ev) {
                if (carousel.isScroll)
                    return false;
                carousel.isScroll = true;

                carousel.imagesCont.prepend(carousel.imagesCont.find('.image:last'));
                var pos = carousel.imagesCont.find('.image[data-index='+carousel.index+']').position().left;
                carousel.imagesCont.css({'left':-parseInt(pos)});

                carousel.index--;
                if (carousel.index < 1)
                    carousel.index = carousel.imgCount;

                carousel.imagesCont.animate(
                    {'left':0 }, 500, 'swing', function() {
                        carousel.isScroll = false;
                    }
                );
                return false;
            }
        }
    });

    $(document).ready(function() {
        carousel.init({{images|length}});
    });
</script>

<div class='carousel-widget'>
    <div class='images-cont' id='js-carousel-image-cont' style="width: {{ images|length * constant('Carousel::IMAGE_W') + 10}}px">
    {% for image in images %}
        <div class='image' data-index='{{loop.index}}'>
            <img src='{{ image.getImageUrl() }}' width='{{constant("Carousel::IMAGE_W")}}px'>
        </div>
    {% endfor %}
    </div>
    <div class='clearfix'></div>

    <a href='#' class='arrow left' id='js-carousel-arrow-left' style='height:{{constant("Carousel::IMAGE_H")}}px'></a>
    <a href='#' class='arrow right' id='js-carousel-arrow-right' style='height:{{constant("Carousel::IMAGE_H")}}px'></a>
</div>
